.grid {
  display: grid;
  grid-template-columns: 33% 66%;
  padding-left: 40px;
  align-items: start;
}

.video-container {
  display: grid;
  gap: 20px;  
}

.video {
  width: 100%;
  height: 200px;
}

.title{
    color:#e2e2e2;
    font-weight:700;
}
.desc{
    color:#e2e2e2;
    text-align: left;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 10%;
}