
.name-button {
    background: none;
    border:transparent;
    color: #e2e2e2;
    cursor: pointer;
    outline: none;
    font-size:inherit;
  }
  #magnus:hover {
    color: #8cb8db;
  }
  #ben:hover {
    color: #e67b28;
  }
  #alex:hover {
    color: #e9cc10;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 12vh;
  }
  
  .button-container::before {
    content: "[";
    color: #e2e2e2;
    font-size: inherit; 
    transform: translateY(-2vh);
}
  
  .button-container::after {
    content: "]";
    color: #e2e2e2;
    font-size: inherit;
    transform: translateY(-2vh);
}

.name-button:not(:last-child)::after {
    content:",";
    color: #e2e2e2;
    font-size:inherit;
  }